.info-card{
    padding: 0 5px;
}

.info-primary{
    background-color: aqua;
}
.info-dark{
    background-color: darkgrey;
}
.info-container{
    height: 100px;
    padding: 20px 50px;
    border-radius: 5px;
}
.info-icon{
    font-size: 3em;
}
